# Server Port Configuration
PORT=3000

# Groq Cloud API Key (Dapatkan di https://console.groq.com)
GROQ_API_KEY=your_groq_api_key_here

# User Agent & Custom Headers (Optional)
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36"
COOKIE_HEADER=""
