# Automatic HTTPS & Reverse Proxy for Trenggalek Satu Data Portal
trenggalek.titanialab.com, satudata-trenggalek.titanialab.com, trenggaleksatudata.titanialab.com {
    reverse_proxy trenggalek-api-gateway:3000

    # Enable compression & security headers
    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        X-XSS-Protection "1; mode=block"
    }
}
